notub.bounceme.net {
	email alex090xa@gmail.com

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle /oauth2/authorization/* {
		reverse_proxy backend:8080
	}

	handle /login/oauth2/* {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server

		header /sw.js Cache-Control "no-cache, no-store, must-revalidate"
		header /manifest.json Cache-Control "public, max-age=604800"
	}
}
